[2014-08-25 15:46] btbytes opened #1 "Unable to reate cache directory"
[code]

[2014-08-25 16:20] #1 closed, assigned to nobody

[2014-08-25 16:44] btbytes opened #2 "Error while generating code"
[code]

This is using the  [WSDL Spec document](http://www.w3.org/TR/wsdl#_Toc492291097)

[2014-08-25 16:56] c4milo opened #3 "Add tests"

[2014-08-25 22:01] #2 closed, assigned to nobody

[2014-08-25 22:02] c4milo opened #4 "Only import stdlib packages if they are really needed."

[2014-08-31 19:40] 9nut opened #5 "gowsdl panics on WA State Ferry WSDL"
gowsdl panics when trying:
http://b2b.wsdot.wa.gov/ferries/schedule/Default.asmx?WSDL

[2014-09-01 15:14] #5 closed, assigned to nobody

[2014-09-01 16:11] c4milo opened #7 "Allow passing SOAP headers"

[2014-09-01 16:11] c4milo opened #8 "Add basic support for ws-security"

[2014-09-03 01:30] c4milo opened #11 "Add Travis badge"

[2014-09-05 13:07] c4milo opened #12 "Add contributing guide"
Some examples:
- https://github.com/h5bp/html5-boilerplate/blob/master/CONTRIBUTING.md
- https://github.com/hashicorp/terraform/blob/master/CONTRIBUTING.md
- https://github.com/puppetlabs/puppet/blob/master/CONTRIBUTING.md

[2014-09-06 00:00] #11 closed, assigned to nobody

[2014-09-06 16:53] #12 closed, assigned to nobody

[2014-09-06 18:08] c4milo opened #13 "Add GA beacon"
https://github.com/igrigorik/ga-beacon

[2014-09-06 22:20] #4 closed, assigned to nobody

[2014-11-03 01:50] EntilZha opened #15 "WSDL on Snotel, request successful, response empty"
First, love your package, definitely fills a need. Found a bug/feature request and would be willing to work on it given some guidance.

I am working with the wsdl service here: http://www.wcc.nrcs.usda.gov/web_service/awdb_web_service_landing.htm

My code calling gowsdl is below

[code]

When I read the println, I get an empty interface. I took a look in wireshark and I get this response

[code]

[2014-11-03 03:26] #15 closed, assigned to c4milo

[2014-11-05 15:57] beckler opened #16 "Compliant WSDL doesn't parse some constants and nested complexType objects correctly"
[This WSDL](https://services.chromedata.com/Description/7a?wsdl) is SOAP 1.1, and claims to be WS-I 1.0 compliant, but gowsdl can't seem to handle some of the objects that are nested complexTypes. The formatter fails because some types don't seem to be parsed correctly.
These are two general examples I have been running into:
[code]
[code]

This may be a limitation of the project that I'm just not

[2014-11-08 06:28] EntilZha opened #17 "NRCS Envelope Fault"
Got around to working more on the NRCS wsdl service I was interested. Ran into another problem, like before open to helping, but some insight/maybe fix would be great. I am using the code from #15

Below is what I wrote additionally to query all stations which are also snotels, so using networkCd of SNTL.

[code]

When I do this, I get the following error:
`PANIC: expected element type <getStation

[2014-11-14 21:35] #13 closed, assigned to nobody

[2015-01-16 18:18] natebrennand opened #19 "generated code invalid if duplicate complexTypes"
excerpt from example here: https://gist.github.com/natebrennand/1c57291e10bed537b10b

`ArrayOfInteger` is declared twice. If a complex type is declared multiple times it seems that it is generated twice too. FWIW, the server seems to utilize the first declaration, not the subsequent ones.
Would be great if this edge case was handled.

Thanks for the awesome tool!

[2015-01-16 20:19] natebrennand commented on #7
+1

Unfortunately our provider requires the header despite not utilizing the value. Rewriting all of the client.Call() function cals to use a space for the header works in our situation. Would be great to have the ability to overwrite that in our client code instead of making changes to the generated code.

[2015-01-16 20:23] c4milo commented on #19
I will look into this. Thanks!

[2015-01-17 15:41] c4milo commented on #19
"...no complex type definition can have the same name as another simple or complex type definition. " --
http://www.w3.org/TR/xmlschema-1/#Complex_Type_Definitions

I'm going to consider this as a won't fix issue. The reason being is that your schema does not comply with the spec, it is an issue with the schema not with gowsdl.

[2015-01-17 19:45] #19 closed

[2015-01-17 20:02] #16 closed

[2015-01-17 20:07] c4milo commented on #17
Hey @EntilZha, apologies for the very late response. So, in addition to what I previously mentioned regarding how to start tackling this issue, I would also suggest asking in the golang-dev mailing list. By the way, the issue was moved to https://github.com/golang/go/issues/6800

[2015-01-18 01:41] EntilZha commented on #17
I ended up on using Scala for this project in part for native support through existing Java libraries (in part from preference) and am too busy to work on this separately. If I end up having time in the future, I will take your advice though. Thanks

[2015-03-17 05:24] notzippy opened #21 "Line feeds in WSDL"
Hi

I found that if the wsdl:documentation had line feeds in it the generated code would get messed up like the following

		// Error can be either of the following types:
		//
		//   - ValidationFaultFault
		//
				GetFullEstimate
				@param request GetFullEstimateRequest
				@return GetFullEstimateResponse
		func (service *EstimatingServiceContract) GetFullEstimate (request *GetFullEstimateReque

[2015-03-17 16:25] c4milo commented on #21
Closed by #22

[2015-03-17 16:25] #21 closed

[2015-03-18 16:45] notzippy commented on #17
I was able to resolve this issue by using another package : https://github.com/jteeuwen/go-pkg-xmlx , this package transformed the data into an xml document, which I was then able to parse and reassign the name spaces in accordance to the headers. Then perform a SaveDoc and voila nicely marshelled document

[2015-03-18 16:51] c4milo commented on #17
@notzippy, nice! do you think we could use that library in gowsdl instead?

[2015-03-18 16:53] notzippy commented on #17
Hoping to, I am working through a solution... will let you know what I have in the form of a PR later

[2015-03-18 16:55] c4milo commented on #17
ah, great! thank you!

[2015-03-18 18:43] notzippy opened #23 "Picking up the wrong TargetNamespace"
In my WDSL the schema defines a target name space of

		<xsd:schema elementFormDefault="qualified" targetNamespace="http://purolator.com/pws/datatypes/v1" xmlns:tns="http://purolator.com/pws/datatypes/v1">

and the WSDL target namespace is different

    <wsdl:definitions name="ServiceAvailabilityService" targetNamespace="http://purolator.com/pws/service/v1" ...>

When rendering the structure (in

[2015-03-18 21:00] notzippy opened #24 "Element type renaming"
I will start off with I am no wsdl expert - given the following wsdl fragment

			<xsd:element name="ValidateCityPostalCodeZipRequestContainer" nillable="true" type="tns:ValidateCityPostalCodeZipRequestContainer"/>
			<xsd:complexType name="ArrayOfShortAddress">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="ShortAddress" nillable="true" type="tns:ShortAddress"/>

[2015-03-18 21:22] c4milo commented on #24
@notzippy the generator is assigning whatever is being declared in the WSDL. If the type is named `ValidateCityPostalCodeZipRequestContainer` it will use that.

[2015-03-18 21:23] c4milo commented on #24
maybe we should use whatever is coming in the `name` attribute when it is set?

[2015-03-18 21:24] c4milo commented on #24
ah nevermind, it has the same name as the type. Yeah, it is just generated whatever the WSDL has.

[2015-04-24 00:07] daveilers opened #28 "Gowsdl fails to create service"
🍀  537:76: expected type, found ',' (and 10 more errors)

It seems like the issue occurs with empty response messages perhaps?

I'm not sure how to upload a file so I save the wsdl in the following gist
https://gist.github.com/daveilers/92b04a1445b78f67f131

[2015-06-30 21:40] amrnt commented on #28
Same here, with error:

[code]

Aldo for this wsdl file: https://gist.github.com/amrnt/81cd16d1b74593acce34

[2015-06-30 21:47] c4milo commented on #28
I will look into this soon. Thanks for your reports.

[2015-07-10 09:21] JoopClaireIT opened #29 "Inconsistent behavior with names with underscores"
Link to test on: http://planitonline.dyndns.org/planitonline/api.wso

When using gives error on line 74, not identified
Removing the underscore on that line solves the problem

[2015-08-05 07:37] trapias opened #30 "Errors with EU VAT Validation service"
Hello,
I generated a service to access the EU VIES web service (EU VAT Validation service) from the wsdl at http://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl: service appears to be correctly generated, but when I try to use it I get the error:

[code]

The function with which I use the generated service is very simple and should be ok:

[code]

Am I missing something, or is it the gen

[2015-08-05 07:46] trapias commented on #30
Argh, I was giving the wrong endpoint, it should be:

	svc := vies.NewCheckVatPortType("http://ec.europa.eu/taxation_customs/vies/services/checkVatService", false)

But now I get another error:

	Unexpected wrapper element {urn:ec.europa.eu:taxud:vies:services:checkVat}checkVat found.   Expected {urn:ec.europa.eu:taxud:vies:services:checkVat:types}checkVat.

Is this a fault of mine?

[2015-08-05 08:11] trapias commented on #30
Not wonderful, but I managed to get my service working by manually modifying a local copy of the WSDL (targetNamespace and impl, and converted dates from time.Time to string).

I anyway would like to understand if there was a better way to solve ;-)

[2015-08-05 14:16] c4milo commented on #30
@trapias, I'm sorry you had problems, can you please paste a diff of the changes you did?

[2015-08-05 14:21] c4milo commented on #29
@JoopClaireIT, I'm not sure I'm following. Can you provide a code example?

[2015-08-05 14:25] c4milo commented on #24
@notzippy gowsdl does not yet support namespaces, mainly due to Go's lack of proper support in the standard library.

[2015-08-05 14:57] trapias commented on #30
@c4milo looks like there's something wrong in the WSDL, I'm trying to ask the support service.
Anyway here's what I modified:

Original WSDL:

	<wsdl:definitions targetNamespace="urn:ec.europa.eu:taxud:vies:services:checkVat" xmlns:tns1="urn:ec.europa.eu:taxud:vies:services:checkVat:types" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:impl="urn:ec.europa.eu:taxud:vies:services:ch

[2015-08-05 15:01] c4milo commented on #30
@trapias Can you please fill out another issue with the parsing errors when using time.Time? I would like to look into that later. Thanks for the detailed information!

[2015-08-05 15:33] trapias opened #31 "time.Time parsing error"
After generating a class to access the VIES web service for EU VAT validation service I get an error when class tries to parse a good response:

	Error: parsing time "2015-08-05+02:00" as "2006-01-02T15:04:05Z07:00": cannot parse "+02:00" as "T"

The field generating the error is a time.Time field both in CheckVatResponse and CheckVatApproxResponse structs:

	RequestDate time.Time `xml:"requestDat

[2015-08-05 15:35] trapias commented on #30
@c4milo see issue #31 - looks like it's a nasty datetime value given by the VIES service!

		RequestDate:2015-08-05+02:00

[2015-08-05 15:40] notzippy commented on #24
This isnt a namespace issue, it is the `ValidateCityPostalCodeZipRequestContainer` vs `ValidateCityPostalCodeZipRequest` that is the issue

[2015-08-06 07:16] JoopClaireIT commented on #29
when I run gowsdl on the given link and I import it in a new project and try to compile, it gives a compiler error with an inconsistency between the same name with and without an underscore.

[2015-09-01 01:27] #29 closed

[2015-09-01 01:28] c4milo commented on #31
I'm going to close this as it seems to be related to the WSDL giving an invalid datetime type. Please feel free to reopen if you feel otherwise.

[2015-09-01 01:28] #31 closed

[2015-09-02 10:39] dnldd commented on #28
Having the same problem.

[2015-09-02 18:44] c4milo commented on #28
@dnldd is it possible to provide the wsdl file you are using?

[2015-09-02 19:28] dnldd commented on #28
Unfortunately not.

[2015-09-09 03:16] sanbornm opened #34 "Choice elements not being generated"
It looks like elements wrapped in the choice tag are not being generated.  I see there are some test fixtures with choice tags but I don't see any tests for them.  I tried troubleshooting this myself but was unsuccessful.  Can you try generating a wsdl with choice elements or point me in the right direction for adding support for these.

It looks like the ec2 fixture has choice elements.

Thanks!

[2015-09-09 17:05] c4milo commented on #34
Confirmed. It happens with choice elements nested within sequence elements.

[2015-09-10 02:54] sanbornm opened #36 "Generate Soap Client rather than make it a dependency"
I love what has been built so far, one suggestion:

I feel like the common use case for gowsdl is to be used as a one time code generator.  I noticed there were some open issues regarding authentication and other client related features requested.  I personally need several types of authentication as well as proxy support.  I can easily add these with a few lines of code if I am in control of the

[2015-09-10 15:50] md5 opened #37 "Error unmarshalling responses from VirtualBox vboxwebsrv"
I'm trying to use `gowsdl` to generate code to interface with VirtualBox's `vboxwebsrv` SOAP service, but I'm running into namespace issues.

My test code can be found here: https://github.com/md5/gowsdl-vboxwebsrv-test, including the generated service code, but the stripped-down test file looks like this:

[code]

When I run it with `go run test.go`, I get the following error:

[code]

After look

[2015-09-10 18:10] c4milo commented on #36
Hey @sanbornm, I'm not against that idea at all.

[2015-09-10 18:14] c4milo commented on #37
Can you confirm if the issue is similar to the one described here? https://github.com/hooklift/gowsdl/issues/17

[2015-09-10 19:04] md5 commented on #37
@c4milo I think this is a different problem. In that case, the NRCS web service is rejecting the request created by `gowsdl` and returning a SOAP fault due to how the namespaces in the *request* are specified.

In my case, the problem is with unmarshalling the *response* returned by the web service. Specifically, the fact that the `xmlns:vbox="http://www.virtualbox.org/"` is declared on the `Envel

[2015-09-11 01:27] md5 commented on #37
Looks like there's a proposal to expose the namespace bindings in the decoder: https://github.com/golang/go/issues/12406

This could help with this issue, though it doesn't help with Go 1.5.

[2015-09-11 04:56] md5 commented on #37
I managed to write some code that I think does the right thing for dynamic unmarshalling: https://github.com/md5/gowsdl-vboxwebsrv-test/commit/0f89b3888adf2c3ccb06b69dceec39c669783e97

It's getting late for me here, but I may have some time in the next few days to try to work it into a PR for `gowsdl`. In the meantime, have a look.

Please bear in mind that I'm still learning Go, so I may have don

[2015-09-11 16:19] c4milo commented on #37
hey @md5, thanks for looking into this. I think you are definitely in the right track. We need to parse the whole response in one shoot so namespaces declared at the root of the document are considered.

[2015-09-11 18:55] sanbornm opened #38 "Date/time types fail to unmarshal"
As far as I know the Go XML unmarshler doesn't support changing date/time format and often fails if the date/time is not in the go expected format.  We should probably map these to string instead of time.Time  and let the user parse these later.

[2015-09-11 19:09] c4milo commented on #38
That's bummer, but you are right. I've seen it happening sometimes.

[2015-09-11 22:36] sanbornm opened #39 "Clean up output template when Go updates text/template"
When Go adds support for easy removal of line breaks in templates we should clean the tmpl files up to improve readability:

See: https://github.com/golang/go/commit/e6ee26a03b79d0e8b658463bdb29349ca68e1460

[2015-09-11 22:56] sanbornm commented on #34
Once 2e8ea25 is merged in this can probably be closed.  I am not sure this is the best solution but it does fix the issue.

[2015-09-12 20:02] c4milo commented on #36
This landed in https://github.com/hooklift/gowsdl/commit/4e0b9fe0dc557f586dacca7cbdc4c2afe683524e

[2015-09-12 20:02] #36 closed

[2015-09-12 20:04] c4milo commented on #34
This is not the more generic solution considering that sequence elements can also have: `(element|group|choice|sequence|any)*`. But, let's keep it simple and only for nested choice elements for now.  This landed in https://github.com/hooklift/gowsdl/commit/4e0b9fe0dc557f586dacca7cbdc4c2afe683524e

[2015-09-12 20:04] #34 closed

[2015-09-12 20:09] c4milo commented on #28
@amrnt make sure gowsdl is able to download the schema imported by that WSDL. I personally wasn't able to access it.

[2015-09-12 20:42] c4milo commented on #28
@daveilers the problem gowsdl is having with your WSDL is that there are operations that are defining output messages but those messages do not have a correspondent type in the schema. I'm trying to figure out what does the [Basic Profile](http://ws-i.org/Profiles/BasicProfile-1.2-2010-11-09.html) say about that and how I should address it in the code.

[2015-09-12 22:00] #23 closed

[2015-09-14 04:21] sanbornm opened #40 "Improve error messaging on go fmt err"
Current message shows something like this:

🍀  75:53: expected type, found ',' (and 2 more errors)

It should mention something about not a valid WSDL or unable to parse schema.

[2015-09-14 04:23] sanbornm opened #41 "Support for imports"
It looks like imports are not being pulled into the schema.  They are specified on the XSDSchema struct but never used.

[2015-09-14 14:02] c4milo commented on #40
Agreed. Although, ideally we should validate Basic Profile 1.0 on any WSDL before attempting to generate code. But, I haven't really had time to do that.

[2015-09-15 14:43] sanbornm commented on #41
This is partially implemented in the support-for-imports branch.  Still needs support for external files.

I also noticed that includes ONLY support external files, not local.

[2015-09-16 19:15] #37 closed

[2015-09-21 21:46] ruzz311 commented on #38
I've encountered the same but I really only used gowsdl as a starting point since I had 3 wsdl files with lots of overlap in types / constants.

I got around it by using a struct with an anonymous time.Time ala: http://stackoverflow.com/questions/17301149/golang-xml-unmarshal-and-time-time-fields?answertab=votes#tab-top

[2015-09-21 22:33] c4milo commented on #38
Good to know! thanks @ruzz311

[2015-10-15 03:52] devuser opened #45 "where to define the type String"
In wsdl :
 <message name="XXXRequest">
    <part name="Param" type="xs:string"/>
 </message>

I use *gowsds* to get the .go file from the wsdl .

Find the String type in the .go file because it set the Param as *String type*.
But How can I define the *String type* ?
or where is the *String type* ?

[2015-10-15 04:27] c4milo commented on #45
I'm sorry you are running into issues. However, I'm not sure I'm following. Would you mind elaborating a bit more?

[2015-10-16 12:25] vlad-lukyanov commented on #28
same problem

[2015-11-24 15:24] nicwest commented on #45
@c4milo I'm hitting an a similar issue. I'm generating from a WSDL document and I'm ending up with a lot methods like the following:

[code]

The problem is that `String` type doesn't seem to be defined anywhere.

So when playing around with this my WSDL file seems to have the operations specified three times as follows:

[code]
I just deleted the two additional application services (in this case

[2015-12-10 13:02] keltia opened #49 "Can we have a verbose more or better error messages please?"
I'm trying to process a fairly complicated file, with multiple (local, mostly xsd) imports (yes I'm using that special branch `support-for-imports`) and it fails with this:

    574 [13:58] roberto@rron> gowsdl -p airspace -o airspace.go AirspaceServices_PREOPS_19.5.0.wsdl
    🍀  72:69: expected type, found ',' (and 10 more errors)

I don't even know in which file it is failing, I do not see the l

[2015-12-10 15:00] c4milo commented on #49
@keltia, I just merged https://github.com/hooklift/gowsdl/pull/48, I might not fix your problem but it is worth trying again. The error message you see is given by https://golang.org/pkg/go/format/ which fails when the source has syntax errors, which in turn happen because something from the WSDL was not correctly generated into Go.

[2015-12-10 15:01] c4milo commented on #49
But generally, I find out what file is the culprit by running `go build` on the generated source.

[2015-12-10 19:39] keltia commented on #49
@c4milo oh I have seen that the generated file is mostly wrong as the parsing didn't identify large part of the wsdl file (for reasons that are not displayed at all).  I'd like better message on progress during the conversion *and* during the formatting as, as you said, it indicates something is wrong in the former.  I'll investigate why the conversion is so bad but that's probably for another iss

[2015-12-16 10:43] bassu commented on #28
Same here.
./gowsdl esUsers.xml
🍀  480:3: expected '}', found 'struct' (and 10 more errors)

Link to the source file
https://gist.github.com/anonymous/965a53a6ebc9fc3cec1f

[2016-02-02 08:50] uccmen commented on #28
any update? I seem to be getting the same error.
72:43: expected type, found ',' (and 7 more errors)

link to wsdl file - http://uat.cmctos.com.my:8080/ctos/Proxy?wsdl

[2016-02-02 16:38] c4milo commented on #28
@uccmen can you try using this branch instead https://github.com/hooklift/gowsdl/tree/support-for-imports?

[2016-02-03 02:20] uccmen commented on #28
@c4milo no luck :( same error message. did it work for you?

[2016-04-08 14:05] elkvis opened #53 "External Schemas Not Supported"
If a wsdl file references a schema at a separate URL, which contains types, gowsdl will not read that schema file, and as a result, those types will not be generated, and errors will be generated during the build process.

My workaround has been to copy the contents of the external schema into the wsdl file, which then allows gowsdl to generate all of the client info for the web service.

[2016-04-19 13:42] ArkadyB opened #54 "Is there some way to store namespace at struct`s field level?"
Hi, Ive come with the problem of getting proper structs when wsdl has more than one namespace (therefor prefix).

Considering my expected XML should looks like:
<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
<Header xmlns="http://schemas.xmlsoap.org/soap/envelope/"/>
<Body xmlns="http://schemas.xmlsoap.org/soap/envelope/">
<MyRequest xmlns="http://somthin1"
<SubTag xmlns="http://some

[2016-06-02 23:30] danielkwinsor opened #55 "Update User-Agent header with latest version"
~/go$ gowsdl -v
🍀  v0.2.1
This version of gowsdl generated this client code:
`req.Header.Set("User-Agent", "gowsdl/0.1")`

[2016-06-07 18:34] danielkwinsor opened #57 "Underscores stripped out causes type clash"
I've got some xsds with similar type names, that then clash in go when the underscore is stripped out.

myservice/myservice.go:7253: AccountStatust redeclared in this block

[code]
[code]

[2016-06-07 18:35] danielkwinsor commented on #41
Looks like this branch supports XSD imports, and I would like to see imports of wsdls too.

[2016-06-07 18:42] danielkwinsor opened #58 "xsd:integer as int / string"
This xsd generates the following golang code, which fails to compile with the following reason.
What I see is [xsd:integer is different from xsd:int ](http://stackoverflow.com/questions/15336872/xsd-what-is-the-difference-between-xsinteger-and-xsint) and xsd:integer could probably be a string, since it is unbounded.

[code]

[code]

myservice/myservice.go:105: cannot convert "0" to type XyzTypee
m

[2016-06-07 21:51] md5 commented on #58
What about using [`big.Int`](https://golang.org/pkg/math/big/#Int) for `xsd:integer`?

[2016-06-08 02:25] danielkwinsor commented on #58
Yeah, that sounds even better than a string, and I'll give it a try when I get back to work in a few days.

[2016-06-10 17:59] danielkwinsor commented on #58
`type XyzTypee big.Int` generates "invalid constant type" no matter whether 0 or "0"

[2016-06-10 21:42] md5 commented on #58
@danielkwinsor Can you be more specific about what generates that error and what you did?

[2016-06-10 21:45] md5 commented on #58
It looks like `types_tmpl.go` assumes that all restrictions are string enumerations currently.

[2016-06-10 21:55] danielkwinsor commented on #58
Yeah sure so, originally I changed line 405 of gowsdl.go in the support-for-imports branch -- to ```"integer":       "string",```
This worked to compile, though I haven't tested the client yet.

Tried ```"integer":       "big.Int",``` and hand-imported math/big, but did not change types_tmpl.go
This did not work because
[code]
[code]

[2016-06-14 18:05] md5 commented on #58
@danielkwinsor It looks like the problem you're seeing here is that `big.Int` is not an allowed constant type. Assuming that could be addressed, then the next issue to tackle is that `Int.setString` will need to be called to parse the enumerated values. Unfortunately, there doesn't seem to be an immutable version of `big.Int` from my reading of the docs.

[2016-06-30 06:36] chenjie4255 commented on #45
meet a same problem too...
= =

[2016-07-10 16:01] sosedoff commented on #53
@elkvis did you manually do that or do you have some sort of script that replaces the contents?
i hit the same problem and currently trying to get wsdl imports feature working.

[2016-07-11 20:40] elkvis commented on #53
I did it manually, but I'm sure a tool could be created to do it.  It's not something someone is likely to need to do often enough to require a tool, since it's just a simple copy/paste operation.  On the other hand, a properly designed tool would give a greater guarantee that it's done without errors.

[2016-08-01 04:07] kokizzu opened #61 "xml: encoding "ISO-8859-1" declared but Decoder.CharsetReader is nil"
What does it means?

my command:

      `gowsdl http://127.0.0.1:8082/ws/live.php?wsdl`

WSDL definition: http://pastie.org/10925568

[2016-08-09 15:03] svarogg opened #62 "Problem Reading ASP.NET Web Service response"
I am consuming a classic ASP.NET Web Service (.asmx file).

The relevant WSDL says:
[code]

And the Response that is returned is:
[code]

However, I am getting the following error from gowsdl:

I believe this happens with any method that returns a complex type.
It looks as though gowsdl is expecting a <DeviceReports> element under <StartSigfoxSessionResult>, while ASP.NET doesn't generate it.

[2016-08-09 15:04] svarogg commented on #62
Sorry, clicked "submit" too early.
Will edit and re-open

[2016-08-09 15:50] svarogg commented on #62
I have found a workaround: Have decorated the WebMethod with [return: XmlElement("DeviceReports")] to make the result element have the name of it's type.

[2016-08-09 15:50] #62 closed

[2016-08-25 16:24] chespinoza commented on #61
You should download the wsdl definition file first, and then use it as the parameter to gowsdl.
i.e.

[2016-11-07 08:14] sillydong commented on #45
meet the same problem, anyone who knows how to solve this problem?

[2016-11-10 20:58] ruly1000 opened #64 "Generate code syntax error: unexpected comma"
Trying to generate code for the Billing Tree Payrazr WSDL located here:

[https://staging.mypayrazr.com/ApiServiceWeb/SimpleApiService.svc?wsdl](https://staging.mypayrazr.com/ApiServiceWeb/SimpleApiService.svc?wsdl)

func returns are invalid, pointer ref "*" with no type, example of one generated func:

		func (service *ISimpleApiService) SubmitCardSale () (*, error) {
			response := new()
			err

[2016-11-18 20:36] bobbytables commented on #64
I'm having this as well, could you point my in the direction for possibly fixing this and contributing back?

[2016-11-18 20:41] bobbytables commented on #64
To add, I'm doing the ambitious task of using `gowsdl` to generate Go from the NetSuite WSDL: https://webservices.netsuite.com/wsdl/v2016_2_0/netsuite.wsdl

[2016-11-18 21:44] ruly1000 commented on #64
The problem ended up being that our WSDL was SOAP v1.2, gowsdl only supports SOAP v1.1 so we could not use it, ended up manually defining structs and using encoding/xml to marshall/unmarshall them.

[2016-11-18 21:44] #64 closed

[2016-11-21 09:22] vimalraj-a opened #65 "Support for Username Token Authentication"
How can we do Username Token authentication with gowsdl?

[2016-11-22 17:49] c4milo commented on #65
It is not supported.

[2016-11-22 17:49] #65 closed

[2016-12-15 14:45] borud opened #66 "Problem generating code from WSDL"
hi,

I'm trying to feed `gowsdl` the following http://st.atb.no/SMWS/SMService.svc?wsdl%20\t%20_blank

and the output I get is:

    🍀  Downloading file http://st.atb.no/SMWS/SMService.svc?wsdl
    🍀  Downloading external schema location http://st.atb.no/SMWS/SMService.svc?xsd=xsd0
    🍀  2530:3: expected '}', found 'interface'

I tried to figure out if this is a problem with the WSDL, but accordi

[2016-12-15 18:09] c4milo commented on #66
It's most likely a problem with gowsdl, I'll make some time to look into it tonight. Thanks for reporting it!

[2017-01-12 03:26] andrewsauder commented on #45
I'm having the same issues as well.
I run the command _gowsdl -o arws.go arwshdlr.wsdl_ and arws.go is successfully generated.
When I go to compile, I get the error of _undefined String_ caused by the functions generated for each SOAP method. I.E. the error will be on afunction generated in arws.go: `func (service *ArwshdlrPortType) ArwsbinqgetBill(request *String) (*String, error) {...}`

[2017-01-20 07:28] CodyGuo opened #67 "onvif: Can't convert. Go file"
http://www.onvif.org/Documents/Specifications.aspx
ONVIF WSDL and XML Schemas Specifications
...
http://www.onvif.org/onvif/ver10/events/wsdl/event.wsdl
...

gowsdl.exe event.wsdl
🍀  Downloading external schema location http://www.w3.org/20
05/08/addressing/ws-addr.xsd
🍀  Downloading external schema location http://docs.oasis-op
en.org/wsn/t-1.xsd
🍀  Downloading external schema location http://doc

[2017-01-28 20:11] xor-gate commented on #28
WSDL: https://api.transip.nl/wsdl/?service=DomainService
I have the same error `expected type, found ',' (and 10 more errors)`

[code]

[2017-02-11 07:09] CodyGuo commented on #67
gowsdl -o deviceio.go deviceio.wsdl
🍀  43:2: expected type, found 'const' (and 2 more errors)

[2017-02-22 09:57] zaretskysa commented on #45
same for me

[2017-02-28 11:48] git001 commented on #61
I got the same error with this wsdl.
https://github.com/mantisbt/mantisbt/blob/master/api/soap/mantisconnect.wsdl or raw
https://raw.githubusercontent.com/mantisbt/mantisbt/master/api/soap/mantisconnect.wsdl

[2017-03-02 16:47] BorysHulyi opened #68 "WSDL parse does something wrong =)"
Hi,

I'm trying to generate code from [WSO2-CEP WSDL](http://pastebin.com/RQA168r5) and get this in output:

`🍀  Downloading file https://172.18.0.3:9443/services/EventProcessorAdminService.EventProcessorAdminServiceHttpsSoap12Endpoint?wsdl
🍀  [WARN] editActiveExecutionPlanResponse message doesn't have any parts, ignoring message...
🍀  [WARN] undeployActiveExecutionPlanResponse message doesn't hav

[2017-03-14 14:33] BorysHulyi commented on #68
We have found out that gowsdl does not handle empty responses from server.
Our solution was to created emptyResponse struct for corrupted methods.

[2017-03-14 14:43] c4milo commented on #68
@BorysHulyi I'm glad you solved your issue!  I'm happy to take patches if you want to contribute it

[2017-03-14 16:05] BorysHulyi commented on #68
@c4milo Actually we fixed just generated code) And I'm not so good with SOAP, but i will spend 1 weekend on it and see the results)

[2017-04-22 11:35] seriousme opened #69 "using gowdsl with virtualbox web service"
FYI:  it took me some time to figure out how to do this, so maybe someone will benefit from my experience

after using `gowsdl` to generate `vboxweb.go` as part of the `vboxweb` package I can now do this:

[code]
Virtualbox expects an object identifier in a `this` parameter to be able to work.
After login you get a session object id, some operations return another object id which you need to pass

[2017-05-02 12:59] ebati opened #71 "Separate file for SOAP functions"
I generate code for multiple services in the same package but since every service appends SOAP functions at the end, so i manually delete them.

I think its better to create separate file for soap functions and create two new flag one to disable SOAP function generation and one to only create SOAP functions without any wsdl.

If this is OK for you i can work on a pull request.

[2017-05-09 18:40] litan1106 opened #72 "coulnd't parse nested list type"
**example:**
<xs:simpleType name="DeviceTypeReportFilter">
<xs:list>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="Computer"/>
<xs:enumeration value="SmartPhone"/>
<xs:enumeration value="NonSmartPhone"/>
<xs:enumeration value="Tablet"/>
</xs:restriction>
</xs:simpleType>
</xs:list>
</xs:simpleType>

**result:**

type DeviceTypeReportFilter *

const ()

**expected:**

typ

[2017-05-12 04:03] bstein-clever opened #73 "Encode/Decode errors with mismatched annotations."
I have an XML file that has a bunch of types/functions that look like this:
[code]

I've included all the definitions (e.g. of ArrayOfTags) for completeness, and since it allows the example above to be complete/testable.

It wasn't working for me, and when I looked more closely, I was eventually able to uncovere the problem.
There are two issues:
The first is that there are too many type annotatio

[2017-05-13 13:49] c4milo commented on #73
What version of Go are you using?

[2017-05-14 07:00] bstein-clever commented on #73
I'm using 1.7 at the moment.

[2017-05-23 00:43] #72 closed

[2017-05-23 02:37] c4milo commented on #72
hey @litan1106, why did you close it?

[2017-06-07 17:17] pnhowe opened #76 "tries to include WSDL if impts.SchemaLocation is blank"
resolveXSDExternals will attempt to resolve the WSDL file it's self if on of schema.Imports is empty.

`if len( impts.SchemaLocation) < 1 { continue }`

between line 236 and 237 worked for me, in gowsdl.go

[2017-07-05 08:00] gondo opened #77 "how to use generated service?"
it would be very helpful to see basic example of how to use the generated code.
i am just starting with golang. i've managed to generate `myservice.go` and now what?

[2017-07-23 14:36] nd2s opened #79 "Error with mPAY24"
Using the SOAP WSDL definition of [mPAY24](https://docs.mpay24.com/docs/soap-interface) with the latest `gowdsl` version from master:
[code]

Shouldn't this be compatible?

[2017-07-27 18:28] willseward commented on #73
I'm experiencing this problem too. It seems that the problem lies with the way types are specified. Here's a go playground example citing the problem.

https://play.golang.org/p/fjpUV_D9DS

Uncommenting l. 10 will make the code runnable.

[2017-08-22 05:15] tmlbl opened #81 "Can't evaluate field Restriction in type *gowsdl.XSDAttribute"
Getting the following error on Windows and Linux:

[code]

To reproduce run:

[code]

[2017-08-22 17:38] tmlbl commented on #81
Part of the problem with the ONVIF specification is that gowsdl does not form the correct URL to fetch one of the includes, getting a 404, and no error is reported. I will submit a PR for that issue but the above error still persists.

[2017-08-22 17:49] tmlbl commented on #81
Here is an example of one of the types which is not being handled and causing the template error.

It seems that this should result in `[]int32` but since it does not have a restriction like gowsdl is expecting, it ends up with a nil pointer for `.Restriction`

[code]

[2017-08-31 03:23] blissdev commented on #73
Experiencing the same issue as well. By dropping them, I think the generated XML is now missing important details?

[2017-08-31 03:37] c4milo commented on #73
I wish Go's stdlib support for XML namespaces just worked. I'm going to spend some time looking around to see if someone has developed a more complete and correct XML parser.

[2017-09-22 19:03] andreynering commented on #45
I also got this problem. Seems that `*String` should actually be one of the generated structs?

[2017-09-27 07:11] smgladkovskiy commented on #81
I have the same problem, when gowsdl is trying to parse such xsd:
[code]
There is no Restriction element...
[code]

[2017-09-27 15:12] realmfoo commented on #81
`gowsdl` can't handle a reference to attribute definition:
[code]

@smgladkovskiy default type of `xsd:attribute` is `anyType`. Should it be `interface{}` or `string`?

[2017-09-27 17:14] smgladkovskiy commented on #81
@realmfoo take a look at this definition of attribute that I faced with:

[code]

I think that it would be better if it would be an `interface{}`. What do you think?

[2017-09-27 17:15] smgladkovskiy commented on #81
I can share xsd with such cases to test on. :)

[2017-09-27 17:30] smgladkovskiy commented on #81
In my case, as i understand, gowsdl is trying to parse restriction for simpleType when it is no restriction element.

[2017-09-27 22:13] senseijack commented on #76
Thanks, I just ran into the same problem and this fixed it.

[2017-09-28 00:36] c4milo commented on #76
A PR is always appreciated. :)

[2017-09-29 11:58] realmfoo commented on #67
`gowsdl` doesn't understand `<union>`:
[code]

[2017-09-29 15:30] #41 closed

[2017-09-29 15:30] #76 closed

[2017-09-29 15:30] #79 closed

[2017-09-30 11:33] jbowles commented on #81
I'm a having a similar issue:

[code]

given this chunk from the `.xsd` file:

[code]

[2017-10-06 03:30] starius opened #90 "Provide an option to enable cookies support"
It could be done with "net/http/cookiejar" package: just pass the same instance of `Jar` type to all `http.Client`s

[2017-10-30 17:16] colek42 commented on #73
@c4milo it looks like ref: https://github.com/golang/go/issues/9519 is slated to solve this issue.  Aside:  Thank you for open sourcing this library for all of us unfortunate souls that must deal with SOAP.

[2017-11-25 22:28] StefanFransen opened #93 "Unexpected comma"
I used gowsdl to generate a client for a SOAP endpoint.
I found 2 bugs. The first one being that gowsdl creates two "encoding/xml" imports.
Second one. When generating I get the following error.

`2131:83: expected type, found ',' (and 1 more errors)`

This line looks like:

`func (service *AffiliateInterface) Authenticate (request *NonNegativeInteger) (*, error) {`

The SOAP endpoint I used is: h

[2018-01-04 04:40] kmanley commented on #73
Has anyone found a fix for this? I'm running into this issue too.

[2018-01-04 17:42] bstein-clever commented on #73
I forked it, and made a fix that works for my use case (https://github.com/Clever/gowsdl/commits/master) but I haven't tested it extensively enough to check if it works under all conditions, or if it breaks something else. It works well enough for what I need, so I stopped there.

[2018-01-16 06:38] thaibaoautonomous opened #94 "Conflict with name "Params""
I have an issue with this

xml: name "objparameters" in tag of myservice.ProcessTransaction.Objparameters conflicts with name "Params" in *myservice.Params.XMLName

What is it please?

[2018-01-18 09:53] malaschitz commented on #94
Look into generated sources. The same tag has two different names. In myservice.ProcessTransaction.Objparameters is name "objparameters" and in myservice.Params exists "XMLName" and there is "Params". There must be bug in gowsdl. I have the same problems.

[2018-01-26 01:33] gnewton opened #95 "Support for soap1.2?"
I would like to use this with ONVIF https://www.onvif.org/ but it seems to be defined using soap1.2
Example: http://www.onvif.org/onvif/ver10/device/wsdl/devicemgmt.wsdl

Any timeline on soap1.2 support?

Thanks.

[2018-01-26 01:36] gnewton commented on #95
Right now when I run it in the above file I get:

   $ ./gowsdl devicemgmt.wsdl
    🍀  43:2: expected type, found 'const' (and 2 more errors)
    $

[2018-01-31 02:34] lalanne opened #96 "undefined: String -- with go build myservice.go"
Hello,
When trying to compile the code generated by ```gowsdl``` got the following error:
[code]

Thanks.

[2018-02-14 13:18] icobani commented on #77
It is very important i can not find any sample anywhere?

[2018-03-02 11:33] chuyennm commented on #77
Hello ,

Please help me , I have using gowsdl.exe my.wsdl to myservice.go

When i wrote the test file:

type LoginRequest struct {
	XMLName xml.Name `xml:"http://entities login"`
	username    string `xml:"username,omitempty"`
	password string `xml:"password,omitempty"`
	partnerID string `xml:"partnerID,omitempty"`
}

client := myservice.NewSOAPClient("MYURL service", true, nil)

	req := new(LoginR

[2018-03-08 10:44] mahradbt opened #99 "<s:any /> tag"
hi,  i have some problem with `any` tag which use undefined `Schema` struct on code
[code]
gowsdl cannot create struct for Schema

how can i fix it?

[2018-03-10 05:09] superfell opened #101 "Exporting type causes name clash"
In xml the type's Foo & foo are different, but when importing a wsdl that has type names that differ like this, the foo type gets renamed to Foo so it's exported, but now there's 2 declarations of Foo in go, which then doesn't compile.

[2018-03-14 04:47] uentity commented on #96
Same here.
I also get a similar error about type `Short`:
[code]

[2018-03-14 10:24] c4milo commented on #96
Would you mind trying https://github.com/hooklift/gowsdl/pull/98 and seeing if it fixes your issue?

[2018-03-22 20:03] wuryscamp commented on #94
i have the same problems

[2018-04-26 08:02] Markvandersteen commented on #94
same here, does anyone have a fix?

[2018-05-14 10:31] reteps opened #102 "name "return" in tag of Response.Return_ conflicts with name "Result" in *Result.XMLName"
Here is my classes:

[code]

[code]
this is the actual XML returned:
[code]
Do I need to change `return` to `ResultsVO`?

[2018-05-14 20:52] #102 closed

[2018-07-05 08:04] cs2mw opened #103 "generate go file and build error"
gowsdl -o auth_service.go -p p6ws http://139.219.103.89:8206/p6ws/services/AuthenticationService?wsdl

go build auth_service.go

report error:
# command-line-arguments
.\auth_service.go:113:63: undefined: Logout
.\auth_service.go:127:78: undefined: ReadDatabaseInstances
.\auth_service.go:141:78: undefined: ReadSessionProperties

[2018-07-13 08:52] EatsLemons commented on #77
still no any examples? wow
I'm trying to use service.Call("MethodName", rq, rsp)
and my rsp is nil always without any error. Have no idea what is wrong..

[2018-10-04 14:31] anjmao opened #104 "Generate interface for easer unit testing"
Hi, it would be really nice if gowsdl could generate public service interface. https://github.com/fiorix/wsdl2go does that.

[code]

I could my PR for it.

[2018-10-04 17:16] c4milo commented on #104
@anjmao, agreed. Is this because you want to mock the services in your tests?

[2018-10-05 07:00] anjmao commented on #104
@c4milo Yes, I'm using gomock to autogenerate mocks, but since there is no interface I could only create my own interface and proxy gowsdl service. I will make a PR, hope it will be done today :)

[2018-10-05 11:43] anjmao opened #106 "Suggestions for more idiomatic code"
Hi,

1. Current api could be improved a bit. Example from current generated soap client.

[code]

This is not very friendly api to use. Instead it's a common practice in go to use ...option. These 2 functions which are both not flexible can be refactored to

[code]

Usage

[code]
It will also allow to stay backwards compatible add be able to add new config options in the feature.

2. It's not poss

[2018-10-05 12:05] c4milo commented on #106
I welcome all the above improvements @anjmao.

[2018-10-05 14:19] anjmao commented on #106
Here is some work I already did in my branch https://github.com/trackforce/gowsdl/tree/refactor-soap-client.

- Removed soap_tmp.go and moved soap client to separate package.
- Added example folder with usages https://github.com/trackforce/gowsdl/blob/refactor-soap-client/example/example.go

Idea is to pass soap client to each generated service so there is no complex call logic inside generated fi

[2018-10-05 14:28] c4milo commented on #106
@anjmao I like those changes. We should probably initialize a go module for this library and tag it before introducing these new changes.

[2018-10-08 12:51] anjmao commented on #106
@c4milo I Agree for modules. I'm currently testing library with my changes by calling some of our production soap services, but I'm getting XML marshal/unmarshal errors. I added comment in my PR.

[2018-10-08 15:34] anjmao commented on #38
Here is sample for custom time https://github.com/NYTimes/encoding-wrapper/blob/master/elementalconductor/time.go which we can use for generated code. Instead of using time.Time we could use DateTime. Could it be added after https://github.com/hooklift/gowsdl/pull/107 is merged?

[2018-10-09 07:45] #106 closed

[2018-10-09 07:46] anjmao commented on #104
fixed with https://github.com/hooklift/gowsdl/commit/193c95ad2f469c5f82a8ad8fca580a159dc85a60

[2018-10-09 07:46] #104 closed

[2018-10-09 07:52] anjmao opened #108 "Prepare Release v1.0.0"
TODO for v1.0.0 release which is breaking change.

- [x]  Add mod file for go modules support
- [ ]  Fix issue https://github.com/hooklift/gowsdl/issues/38 which requires to change code generation and use custom DateTime struct instead of built time.Time

@c4milo What do you think?

[2018-10-22 14:37] fgituser commented on #94
please fix problem.

[2018-10-31 05:30] zafer06 commented on #94
I have the same problem?

[2018-11-01 04:04] pardedetalenta commented on #104
hi @anjmao , kindly help me to know how to create mock for the service? any example?

[2018-11-02 07:14] pardedetalenta opened #110 "mock for service"
hi @anjmao , kindly help me to know how to create mock for the service? any example? thank you :)

_Originally posted by @pardedetalenta in https://github.com/hooklift/gowsdl/issues/104#issuecomment-434924009_

[2018-11-02 07:31] pardedetalenta commented on #110
Oh, sorry. I mean the test for the service using that mock that we've been generated using that mockgen. I kind of confused, cause it gives me missing call to the mock that I've been generated before. It can't call the service

[2018-11-05 14:56] anjmao commented on #110
@pardedetalenta If you look at https://github.com/hooklift/gowsdl/blob/master/example/example.go#L14 each soap service already returns interface, you just need to mock that interface under your code which you are testing.

[2018-11-08 20:22] #73 closed

[2018-11-29 04:14] fdeddys opened #111 "Allow passing context"
I create wsdl client, but with timeout

If i fill 1ms its work i think, but if other value , its not working and no timeout

my code
client := soap.NewClient(url, soap.WithTimeout(1*time.Millisecond))

how i can setting to 1 s

thanks

[2018-11-29 14:49] anjmao commented on #111
Hi, have you tried soap.WithTimeout(1*time.Second) ?

[2018-11-30 09:58] fdeddys commented on #111
hi..
already try other duration such as time.Second, time Microsecond etc
( ex 1000 millisecond, 1000000 microsecond )
not working

[2018-12-04 00:09] zerkms opened #112 "WithInsecureSkipVerify sets a field that is not used anywhere"
[code]

but the `insecureSkipVerify` field is not used anywhere else in the code

[2018-12-04 00:42] zerkms opened #113 "Handling plus (and probably some other characters) in enumerations"
This type

[code]

is being generated to

[code]

which is a duplicated identifier

The closest previously reported bug I could find is https://github.com/hooklift/gowsdl/issues/16

[2018-12-04 03:51] zerkms commented on #113
I agree that my suggestion is very problem-specific and does not solve to problem in general.

After thinking some more I think that the better solution would be to implement a way to provide an external map of the names that cannot be mangled automatically.

Like a separate text file that would look like:

[code]

It's not necessary to be `json` but any serialisation format that would guarantee t

[2018-12-04 07:06] anjmao commented on #113
I like the idea of custom map because xml is such a problematic format. We will never handle all the cases to generate valid go code 😆

[2018-12-04 08:04] anjmao commented on #111
Hi @fdeddys
Could you try to call you endpoint with this code, since gowsdl uses DialTimeout internally.

[code]

[2018-12-04 08:12] anjmao commented on #110
Closing this, feel free to create new issue if you have any problems.

[2018-12-04 08:12] #110 closed

[2018-12-06 04:04] fdeddys commented on #111
Dear mr @anjmao
 i'm using client from "github.com/hooklift/gowsdl/soap"

i think if your code

resp, err := client.Get("http://some.url")
it's will use "net/http"... cmiiw..?

so my code totally like https://github.com/hooklift/gowsdl/blob/master/example/example.go
client := soap.NewClient(url)
then client.Call(...)
any idea using this method? or can you share other article?

[2018-12-06 16:50] anjmao commented on #111
@fdeddys Hi, how are you testing dial timeout? Do you have some endpoint which takes more that 1ms to dial and you are not able to call it?

[2018-12-07 02:41] fdeddys commented on #111
hi @anjmao
ok, i will try it, it's update in soap.go ?
we have local test server and its take about 2 - 3 second until get response.
First i try put timeout 1 second, but my app still waiting until got response from test server

after add func dialTimeout, i will inform you

[2018-12-07 06:50] fdeddys commented on #111
hi @anjmao

I change in soap.go, but  its still not working

`var timeout = time.Duration(2 * time.Second)`

` func (s *Client) Call(soapAction string, request, response interface{}) error {`
` ... `
`tr := &http.Transport{`
`		TLSClientConfig: s.opts.tlsCfg,`
`		Dial: func(network, addr string) (net.Conn, error) {`
`			return net.DialTimeout(network, addr, timeout)`
`			//s.opts.timeout)`
`		},`

[2018-12-14 14:19] gkiriakidis opened #117 "Soap folder is missing from latest release (0.3.0)"
I am not sure if this is an issue or not :),
but in your latest release, the "soap" folder is missing.
https://github.com/hooklift/gowsdl/tree/v0.3.0

When I am trying to build a project (by using go modules, outside GOPATH):
[code]

[2018-12-18 12:55] anjmao commented on #117
Hi @gkiriakidis, sorry for that, I probably did something wrong while creating a release. I added new tag https://github.com/hooklift/gowsdl/tree/v0.3.1

[2018-12-18 12:55] #117 closed

[2018-12-18 13:11] anjmao commented on #111
@fdeddys Hi, it looks that the problem you have is not related to dial timeout. You can establish connection quickly but you service can be slow to respond. This can be handled using `context` package

general example using http client
[code]

Unfortunately gowsdl doesn't support passing context.

[2019-01-03 22:06] colinbowern commented on #101
One of the most gnarly WSDL files I've come across to date is the [NetSuite SuiteTalk WSDL](http://www.netsuite.com/portal/developers/resources/suitetalk-documentation.shtml). I ran it through the gowsdl tool after merging the XSDs into the WSDL using [SchemaLightener](https://github.com/pkielgithub/SchemaLightener) to merge the XSDs into the WSDL.

[code]

When I used it under C# with dotnet svcu

[2019-01-04 01:11] colinbowern commented on #94
I think I'm running to something similar with the [NetSuite SuiteTalk WSDL](http://www.netsuite.com/portal/developers/resources/suitetalk-documentation.shtml). I [posted on StackOverflow](https://stackoverflow.com/questions/54031844/setting-field-name-if-different-from-structs-xmlname) for input on this as it is an XML encoder limitation by the looks of it, not specific gowsdl.

[2019-01-04 01:17] colinbowern opened #118 "Extension types defined as pointers"
If the app encounters an extension type such as:
[code]
It defines it as:
[code]

In my code I can't seem to pass RecordRef which is the correct structure that the web service is expecting. At best I can pass a pointer to BaseRef which seems to result in the encoder ignoring RecordRef's contents:

[code]

Given Go doesn't have a concept of inheritance in the same way languages like C# and Java do,

[2019-01-07 10:18] colinbowern commented on #94
A suggestion I got from @mkopriva on StackOverflow:

[2019-01-08 02:48] nvx opened #119 "Generated files should contain Golang standard identifier that the file is generated"
As per https://golang.org/s/generatedcode a comment should be included in generated files to indicate that the file is the output of a code generator.

For example the first line of the file could be:

[code]

[2019-01-15 06:49] #119 closed

[2019-01-18 10:56] Halfi commented on #58
Now code generates:
`type XyzTypee int32

const (
    XyzTypee0 XyzTypee = "0"

    XyzTypee1 XyzTypee = "1"

    XyzTypee2 XyzTypee = "2"

    XyzTypee3 XyzTypee = "3"
)`
Expected

`type XyzTypee int32

const (
    XyzTypee0 XyzTypee = 0

    XyzTypee1 XyzTypee = 1

    XyzTypee2 XyzTypee = 2

    XyzTypee3 XyzTypee = 3
)`

[2019-01-23 12:44] insamo opened #122 "Timeout not working"
Hi!

I think, this not work.

[code]

https://github.com/hooklift/gowsdl/blob/22bd7f1bb11d37ac7c4a3f0a436aeea3bd6de1eb/soap/soap.go#L262

But this work for me

client.Timeout = 1

[2019-01-26 13:36] rajenderreddykallem commented on #122
The Default Dial method provided with 30 seconds will probably handle only the tcp connect timeout.
Consider tcp connect timeout, tls handshake timeout as well as end-end connection timeout.
See below

  Dial: (&net.Dialer{
    Timeout: 30 * time.Second,
  }).Dial,
  TLSHandshakeTimeout:  15* time.Second,
}
var netClient = &http.Client{
  Timeout: time.Second * 50,
  Transport: netTransport,
}
res

[2019-01-26 13:51] rajenderreddykallem commented on #122
Steps to reproduce end-end connection timeout (blocks indefinetely)

- server
 (Linux) nc -l <port> -k

- client
 eg:- soap client app
- client blocks indefintely without any kind of timeout error

[2019-02-01 16:56] iszak opened #125 "Support overriding RoundTripper/Transport"
I have a use case where I want to override the `http.Transport` to a custom `http.RoundTripper` which `http.Client` expects. This is so I can create metrics around the SOAP HTTP requests.

Unfortunately, I am not sure about adding an option, such as `WithRoundTripper` or `WithTransport` as this will then require checking that `WithTLSHandshakeTimeout`, `WithTLS`, `WithTimeout` has not already been

[2019-02-04 13:20] anjmao commented on #125
Hi @iszak, I think you can add option `WithHTTPClient` which allows to fully replace not only http.Transport but also underlying http client.  WithTLS, WithTimeout will not work, but adding note to a readme may be ok.

Ideally I would rather remove WithTLS, WithTLS helpers and just use WithHTTPClient if I need any custom configuration on http client.

[2019-02-06 13:35] iszak commented on #125
@anjmao I've created a pull request to override the HTTP Client. Feedback would be appreciated. I decided to use an interface in case someone else wanted to use a different implementation, for whatever reason. I'm not sure if it is worth it or not especially considering the arguments/return types are still of type http.Request/Response

[2019-02-08 06:56] #30 closed

[2019-02-12 15:02] NMFR opened #128 "Empty Response wsdl elements generate empty string return types"
Empty Response wsdl elements:

[code]

Get ignored:

[code]

And generate invalid (empty string) return types:

[code]

[2019-02-12 15:05] NMFR commented on #128
Possible relation with #64?

[2019-02-12 16:40] NMFR opened #130 "wsdl elements with type attr not being generated"
The following wsdl definition snippet:

[code]

Will generate:

[code]

Where `ID` is undefined.

I believe the type `ID` should be generated as an alias:

[code]

[2019-02-14 01:27] #125 closed

[2019-02-14 01:29] #128 closed

[2019-02-14 01:29] #130 closed

[2019-02-14 09:28] iszak commented on #38
I would like to see this feature as I'm hitting this problem. My only concern is, we should only apply this custom type/unmarshalling for W3C XSD dateTime types. There is then a concern of how to handle non-XSD date/time formats, e.g. arbitrary formats from a user perspective.

[2019-02-14 15:04] c4milo commented on #108
Sorry for the very late response here. This looks good to me.

[2019-02-21 04:23] #111 closed

[2019-03-18 14:24] madshov opened #136 "service.client.CallContext undefined"
`CallContext()` does not exist. I'm using version 0.3.1

[2019-04-04 18:58] urfin-djuice opened #137 "Error: expected type, found 'type'"
Try to generate code from http://flightapi-fra01-ibetest.hitchhiker.net:7725/FlightAPI?wsdl and get this message.

Full output:
[code]

[2019-04-06 03:58] zaddok opened #138 "Invalid code generated against training.gov.au web service."
The go code produced by the following is not compilable:

    curl https://ws.training.gov.au/Deewr.Tga.WebServices/OrganisationServiceV7.svc?singleWsdl > org.wsdl
    gowsdl -i org.wsdl

The output is:

    🍀  Reading file /Users/jacob/iCloud/go/training/gowsdl/org.wsdl
    🍀  [WARN] Don't know where to find XSD for http://schemas.datacontract.org/2004/07/System
    🍀  [WARN] Don't know where to

[2019-04-06 03:59] zaddok commented on #138
Im not overly familiar with SOAP/WSDL, but there does appear to be some weirdness with redirection from http to https.

[2019-04-06 07:40] zaddok commented on #77
The above is out of date. See:

https://github.com/hooklift/gowsdl/blob/master/example/example.go

[2019-04-06 08:12] zaddok commented on #136
I have this problem as well. Is it a new bug? I wonder if we bump back a few versions we can work around this?

[2019-04-06 08:16] zaddok commented on #136
It appears the problem is that the most recent go module tag 0.3.1 is incompatible with the version you get with "git clone".

[2019-04-06 09:27] zaddok opened #139 "MTOM support breaks some web service endpoints"
Using the most recent commit, the following line of code returns a mime error:

    mtomBoundary, err := getMtomHeader(res.Header.Get("Content-Type"))

For example, when tested against:

    https://ws.sandbox.training.gov.au/Deewr.Tga.Webservices/OrganisationServiceV7.svc

Reverting back two commits to commit c994e3ab1b10e8ef34bff4947de81dfbed41be01 solves the problem

[2019-04-07 00:40] zaddok opened #140 "HTTP error codes not handled"
If the webserver returns a http error message then this is not reported or reflected in response. i.e. if the Webserver returns HTTP 404, the error is not reported back to the client.

[2019-04-15 19:08] c4milo commented on #139
@banh-gao, do you have time these days to look into this one?

[2019-04-27 10:01] mrdimaan opened #146 "Empty output file"
Hi, I'm trying to generate the go file from WSDL file. But the generated file is just empty and there is no method or struct:

[code]

[2019-05-03 23:54] galileo-pkm opened #147 "Headers should be inside a seperate element"
ATM headers are not wrapped inside a '\<Header\>' element.
Quick patch is attached.

[header_patch.txt](https://github.com/hooklift/gowsdl/files/3143830/header_patch.txt)

[2019-06-18 13:13] wjurmy opened #150 "Parse time"
I'm trying to connect to a EPS service, I'm able to connect and fetch the data but I encounter this error while the package tries to parse the time ( unmarshaling ).

This timestamp `2019-04-11T09:59:54.647` relates to the record I'm fetching. but I receive this error. I feel this is a bug, if it has not access to the record why it shows the correct timestamp?

Any ide?

```parsing time "2019-04-1

[2019-06-20 18:52] #150 closed

[2019-06-20 19:47] c4milo commented on #150
@wjurmy, did you fix your issue?

[2019-06-24 13:22] LeMace opened #152 "Error in generated go file: problem with element names containing dashes"
Example:

<xs:element name="dunning-date" minOccurs="0">

generates:

// date of dunning
Dunning-date string `xml:"dunning-date,omitempty"`

Is it possible to generate variable names with camel case instead? Because the example code above is no valid go code.

[2019-07-05 20:16] unkeep commented on #152
[fix.patch.txt](https://github.com/hooklift/gowsdl/files/3363899/fix.patch.txt)

[2019-07-10 20:00] mndailey commented on #140
I added the following to

commit: 4acf24e0e4ce71757ac6c5c115201b6050aa96d5
file: soap/soap.go
line: 345

	// If status of response is other than 2xx then return error indication
	if res.StatusCode < 200 || res.StatusCode > 299 {
		return fmt.Errorf("HTTP Status: %d - %s", res.StatusCode, http.StatusText(res.StatusCode))
	}

Alternately here is the diff:

diff --git a/soap/soap.go b/soap/soap.go
in

[2019-08-21 02:08] rpoletaev opened #155 "New release"
Please, create new release. go mod download code too old

[2019-08-27 13:52] seborama opened #157 "Latest release was Dec 2018"
Hi,

We are using go.mod but as we depend on the `Context`-aware methods, we cannot lock on a release and are forced to use a `v0.0.0-commit`-style dependency. This tends to be volatile (v0.0.0 is always less than v0.3.1 even though in actual facts it is more recent in the timeline).

The latest release (v0.3.1) has fallen a long way behind master.

Would it be possible to keep the releases somewh

[2019-08-27 13:53] seborama commented on #157
Sorry I didn't realise that #155 was asking the same (in less words 😄 )
Closing.

[2019-08-27 13:53] #157 closed

[2019-08-27 13:54] seborama commented on #155
Hi,

Up-voting this issue.

We are using go.mod but as we depend on the Context-aware methods, we cannot lock on a release and are forced to use a v0.0.0-commit-style dependency. This tends to be volatile (v0.0.0 is always less than v0.3.1 even though in actual facts it is more recent in the timeline).

The latest release (v0.3.1) has fallen a long way behind master.

Would it be possible to keep

[2019-08-27 14:12] zwczou commented on #155
+1

[2019-08-27 14:18] zwczou commented on #155
you can replace
github.com/hooklift/gowsdl v0.3.1
=>
github.com/hooklift/gowsdl v0.0.0-20190530115702-4acf24e0e4ce

[2019-08-27 17:19] seborama commented on #155
Correct but as noted above this is more volatile with go.mod because v0.0.0-commit is considered older than say v0.3.1

[2019-09-27 04:42] byxiangfei opened #161 "generate inaccurate for the case complex with a extension plus a list of choice"
i have a struct like
[code]

but the generate struct only has the extension base part:

type PaySvcRqType struct {
	*SvcCommonType
}

can you support to add choice field in this situation?  Thanks

[2019-10-08 03:03] tooolbox commented on #38
Same as @iszak, just ran into this and I have a SOAP API with a random date format.  Need a way to control the formatting.

[2019-10-18 13:20] xoco70 opened #163 "547:6: expected type, found 'STRING' `xml:",attr,omitempty"`"
Hi,

I have a bunch a SOAP service with WSDL, and I have to generate code in Go.

My whole system is in Go, so I would prefer to keep Go language for that.

when I use Java, it works:

[code]

But when I use gowsdl, it will fails:

[code]

I tried to look for line 547, but none of those files have 500 lines :(

RecherchePoint-v2.0.wsdl:

[code]

RechercherPoint-v2.0.xsd

[code]
and ENEDIS.Dictionn

[2019-11-09 09:45] jjorissen52 commented on #77
@chuyennm

[code]

Go uses capitalization to indicate private and public fields in structs. If a field name is not capitalized, it is private, and thus not usable by methods external to your package.

[2019-11-15 05:07] mkbhanda opened #164 "Tag name conflicts"
New user of the gowsdl tool. Working with https://webservices.chargepoint.com/cp_api_4.1.wsdl I noticed tag name conflicts and my guess is the tool creates a tag name that matches the field as opposed the field type.
In this instance:

type GetPublicStations struct {
	XMLName xml.Name `xml:"urn:dictionary:com.chargepoint.webservices getPublicStations"`

	SearchQuery *StationSearchRequest `xml:"sea

[2019-11-18 08:22] nikolay-turpitko commented on #140
@mndailey Wrong commit reference? I don't see anything similar to your change in that commit.

Also, I think, it'd be helpful to return some struct with status code inside it to be able to cast it to the type and to avoid parsing error msg in the calling code.

For example, in the case I want to react on 503 error and re-try the request later, I'll need to extract error code from the error message

[2019-12-11 07:46] nguyenhuybo opened #165 "why dont you add this code to v0.3.1"
https://github.com/hooklift/gowsdl/blob/6a246c0cd22a84fa852d475643583bb93a1f73b3/soap/soap.go#L233

[2020-02-05 20:14] dcormier commented on #155
Any progress on this?

[2020-02-10 18:59] dcormier opened #170 "Issues with `language` and `nonNegativeInteger` XML types"
I've used the code in `master` ([`4850884`](https://github.com/hooklift/gowsdl/tree/4850884e63e1bcd2af7ee65699e9c436bb5595dc)) to generate golang types from WSDL.

The resulting file ([ewsgen.go](https://github.com/hooklift/gowsdl/files/4182244/ewsgen.go.txt)) references some types that were not generated. Specifically, `Language` (on lines 3876 and 4824, for example)  and `NonNegativeIngeger` (li

[2020-02-15 20:59] bmurray opened #171 "expected ';', found .0 (and 1 more errors)"
When generating from a wsdl file that includes an attribute with a decimal, it generates invalid Go code.

Eg, gowsdl https://www.onvif.org/ver10/device/wsdl/devicemgmt.wsdl

`<xs:attribute name="TLS1.0" type="xs:boolean">`

Will generate:

` TLS1.0 bool ``xml:"TLS1.0,attr,omitempty" json:"TLS1.0,omitempty"`

Which is clearly not a valid Go type.

[2020-02-15 21:53] bmurray commented on #67
This works correctly now. Don't know since when, but this issue can be closed.

[2020-02-16 02:05] #67 closed

[2020-02-16 04:04] bmurray commented on #171
Ty!

[2020-02-16 04:04] #171 closed

[2020-03-03 14:43] cansozeri commented on #165
please push master to a new version tag, this is problem for go mod vendor, because it is gonna use last tagged version code in go project by default.

[2020-03-03 14:45] cansozeri commented on #155
+up

[2020-04-16 14:26] #71 closed

[2020-04-28 12:28] gocustomized commented on #136
Is this ever getting a new release so we can use it with a dependency manager ? Or should i just clone it into my project and replace it from go.mod/Gopkg ?

[2020-04-28 12:29] toyo-iacob commented on #136
Is this ever getting a new release so we can use it with a dependency manager ? Or should i just clone it into my project and replace it from go.mod/Gopkg ?

[2020-04-28 15:15] c4milo commented on #136
I can look into it tonight.

[2020-04-29 14:32] rbnhd commented on #146
did u pasted the messages.xsd and types.xsd in the same directory as Services.wsdl

[2020-05-07 13:33] c4milo commented on #136
I just pushed v0.4.0.

[2020-05-07 13:33] #136 closed

[2020-06-18 04:05] robatipoor opened #175 "soup request generated request body without any prefix name space in tags"
for example this is correct and hassle-free request body
[code]
but generated soup request body is
[code]
i get the error response failed to query please help me

[2020-06-24 15:34] #147 closed

[2020-07-04 00:31] 7robertodantas opened #177 "xsd:group references not being generated"
Hi,

I have a wsdl that looks like this

[code]

So I'd expect to generate a struct like the following

[code]

but it generates instead

[code]

Is xsd:group supported by this lib?

[2020-07-23 20:03] rcarlisle-spyrus opened #178 "how to use with environment proxy server"
how do you set a proxy server to use when creating a newclient instance??

[2020-09-08 21:49] Xeoncross opened #179 "Soap headers not readable?"
The SOAP client has a placeholder for the [soap:headers fields](https://github.com/hooklift/gowsdl/blob/master/soap/soap.go#L361), but the .call() function never makes the values of the [respEnveolope available for reading](https://github.com/hooklift/gowsdl/blob/master/soap/soap.go#L376).

Can we provide some way to get access to the full envelope since the internal API's I'm reading from put err

[2020-09-13 00:14] lizapolyudova opened #180 "Fault details are not propagated to the caller"
## Description

XML response containing nested `SOAPFault.Detail` is not propagated to the caller; this results in less than informative errors similar to: `Fault occurred while processing`

While this might be considered a server-side error and the resolution could be

this is not always possible when interacting with legacy or 3rd party services.

### Background

Code calls a SOAP action in the

[2020-09-13 00:54] c4milo commented on #180
Hi @lizapolyudova, this is by far one of the best issue reports I've seen. Thank you for taking the time. The proposed fix sounds reasonable to me. Unfortunately, I'm a bit tied up at work this quarter. However, I will be more than happy to review a PR if you want to give it a try.

[2020-09-14 14:24] lizapolyudova commented on #180
Great, I'll take a stab at it and will send a PR your way (this is not blocking any of my work; so, might not be the highest priority, but more error reporting is always nice :)

[2020-09-20 19:36] koenpunt commented on #175
I have the same issue. Is there a way to get the prefixes?

[2020-10-29 11:16] ashishpratapsingh14 opened #181 "Separate package support for Request/Response/Types"
Separate package support for Request/Response/Types while generating services for multiple WSDLs of same service. Right now creates duplicate Types/Requests/Responses struct in each file.

[2020-12-09 07:31] grey9z opened #186 "Modify envelop & body"
Hello i need modify Envelop and Body xmlns fields. I did't found how can i get it. Can i make pull request with this functional part? Or maybe i missed something and anyone can point me on the way how can i do that. Thanks. So what can i do i try to show in xml bellow:

[code]
Thank you

[2020-12-10 16:32] denysvitali opened #187 "Omitempty is assumed"
When the WSDL is parsed, the resulting struct looks like following by default:
[code]

Unfortunately for requests (especially with bools), omitting the value when is false is not always a good idea since not all the implementations have `false` as the default.

This should anyways only affect `XYZRequest` structs.

[2020-12-20 00:06] lizapolyudova commented on #180
finally getting around to this! I got this working locally and setup a few tests. I don't think I have permissions to push a branch to this repo, but I forked the repo, PTAL.

https://github.com/hooklift/gowsdl/pull/188

[2020-12-20 00:38] lizapolyudova commented on #186
They way that I've seen this solved in the past is by explicitly setting the namespace in the xml annotation, in your case:

[code]

this will result in the following XML:
[code]

which should be semantically equivalent

[2021-01-27 13:54] SantoshSah opened #189 "local error: tls: no renegotiation"
Hi,

`gowsdl` throwing error `local error: tls: no renegotiation` even after using flag `-i` for wsdl `https://services.360lifecycle.co.uk/leadservice.svc?wsdl` and `https://services.360lifecycle.co.uk/leadservice.svc?singlewsdl`. Please see below screenshot.

<img width="1191" alt="gowsdl-error" src="https://user-images.githubusercontent.com/2204972/106000788-52e66c80-60d7-11eb-9dd8-624ed6c295a7.

[2021-01-27 18:09] c4milo commented on #189
hmm, the TLS implementation in Go has TLS renegotiation disabled by default. To enable it, one has to set the `Renegotiation` field as such:

[code]

[2021-01-28 06:49] wasperen commented on #161
Same here:
[code]
gets me:
[code]

[2021-02-08 16:36] sblgo opened #190 "xsd:element with string based type produced wrong request"
<xsd:element name="ChangeListRevertRequest" type="ChangeListChangeListID"/>
     <xsd:simpleType name="ChangeListChangeListID">
        <xsd:restriction base="xsd:token">
          <xsd:length value="36"/>
          <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xsd:restriction>
      </xsd:simpleType>

generates following request
<Enve

[2021-02-08 18:54] sblgo commented on #190
Here is a patch for master, which fix the problem in my context. Now I was able to create service client, which works with the provided service.

[code]

[2021-02-15 22:34] moihn opened #191 "nillable="true" attribute in WSDL not followed"
We have a SOAP service data defining an optional field using nillable="true" attribute, like below :
[code]

but the generated code has a definition of :
`AmountParamClassId int32`

so when the field is omitted from the returned value, our client program will still have a value of `0`, and it cannot differentiate a real value of 0 or a missing field.

It seems for this nillable="true", the code ge

[2021-02-17 10:53] SantoshSah commented on #189
Thanks. I had installed using homebrew and default installation was not working. When i compiled binary with above modification, it worked.

[2021-02-17 10:53] #189 closed

[2021-02-23 11:17] #161 closed

[2021-02-23 17:03] moihn commented on #191
I have created PR https://github.com/hooklift/gowsdl/pull/193 for this issue, please feel free to comment. Thanks!

[2021-02-24 10:54] moihn commented on #38
Is there any development progress for better xsd:date, xsd:datetime and xsd:time support? I see this ticket hasn't been updated for a while. If not, I am willing to create a PR for them from what we are using.

[2021-02-24 16:13] c4milo commented on #38
not much progress on this, unfortunately. Feel free to take a stab at it @moihn.

[2021-02-26 19:15] moihn commented on #38
I have created a PR for this https://github.com/hooklift/gowsdl/pull/195

[2021-02-28 10:33] #191 closed

[2021-02-28 16:40] c4milo commented on #38
Closed by #195. Thanks again @moihn!

[2021-02-28 16:40] #38 closed

[2021-03-20 03:02] ninthclowd commented on #140
I think this issue can be closed now. After #197 was merged, you can now retrieve the status code and response body with:

[code]

[2021-03-20 17:37] #140 closed

[2021-03-23 10:23] moihn commented on #108
Is now a good time to have this new release version?

[2021-03-23 15:07] c4milo commented on #108
@moihn, I think so. I will tag a release later today.

[2021-03-26 22:13] ieure opened #198 "Can generate structs with unexported fields"
I have a WSDL with this element:

    <xsd:element name="_24_Hour_Shift" type="xsd:boolean" minOccurs="0" maxOccurs="1">

gowsdl produces this struct field:

    _24_Hour_Shift bool `xml:"_24_Hour_Shift,omitempty" json:"_24_Hour_Shift,omitempty"`

Since the first char isn't capitalized, the field isn't exported, and can't be used.

This gets flagged by my Bazel nogo rules as well:

    compilepkg:

[2021-03-29 10:53] MKITConsulting opened #199 "How to send an attachment with MTOM"
Hello,

soap_test.go contains an example for adding an attachment with MTOM. My current WSDL schema does not contain a property that is compatible to the "Attachment" ``soap.Binary`` struct field used in the example. My request contains a field that contains the "contentID" only. This is a simple string and not a ``soap.Binary``.

How can I add an attachment with MTOM to the soap request but only

[2021-04-01 13:42] ironytr opened #200 "how to add xmlns="" <tag xmlns=""> </tag>"
hello i'm new at golang and programming and i  have a noobish question. i couldn't find on google the answer. the soap server fails with  generated code by gowsdl. but i add this xmlns="" to auth tag its working like a charm. So how can i add this to tags?

Not accepted by server
`
<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
<Body xmlns="http://schemas.xmlsoap.org/soap/envelope/">

[2021-04-03 06:32] ironytr commented on #200
found answer on stackoverflow, add as attr.
https://stackoverflow.com/questions/66928251/how-to-add-empty-xmlns-to-struct-tag-for-request

[2021-04-12 10:02] #199 closed

[2021-04-12 10:13] MKITConsulting commented on #198
Just rename the variable in your case to "Hour_Shift_24" but keep the xml and json tag description. Then the struct field will be exported (as is capitalized) as desired but mapped back to "_24_Hour_Shift".

[2021-04-12 15:33] ieure commented on #198
Yes, as a purely pragmatic matter, I have already built a thing into our codegen process that automatically edits the file, even though the literal first line says "DO NOT EDIT."  Since otherwise, the next time someone ran codegen, the change would be reverted.

The problem isn't "how can I fix the output," it's that gowsdl generates broken output in the first place.  This is a bug report, not a S

[2021-04-12 16:21] MKITConsulting commented on #175
This is fixed with PR https://github.com/hooklift/gowsdl/pull/201 and already merged.

[2021-04-15 02:38] csmarchbanks opened #202 "Empty SOAPAction causing error using the usda AWDB service"
Generating and using the [AWDB WSDL](https://wcc.sc.egov.usda.gov/awdbWebService/services?WSDL) causes an error when trying to run commands: `The given SOAPAction '' does not match an operation.`

This PR changed from an empty string to `"''"`, so it seems like some APIs behave opposite to awdb.
https://github.com/hooklift/gowsdl/pull/148. If I revert that commit my generated code works.

I am hap

[2021-04-19 21:38] ieure opened #204 "Generates incorrect code for `complexType`s that extend built-in types"
I generated client code for Workday's SOAP API — they're a popular HR/Payroll/Time & Attendance service.  Unfortunately, gowsdl generates incorrect output for many [`complexType` definitions](https://www.w3.org/TR/xmlschema-1/#Complex_Type_Definition_details) that extend built-ins; in my case, an extension of `string` to add a `type` attribute.

For this bit of WSDL:

      <xsd:complexType name="

[2021-04-20 12:16] c4milo commented on #204
Hm, yes, that would be a bug. Thanks for the clear report!

[2021-04-20 16:56] davidsbond opened #205 "Option to replace types"
Hello, I'm using gowsdl to generate code for an ancient  API.

The problem I ran into is while their WSDL definition states something is a `time.Time` the actual format of the string is not one that `time.Parse` can use. It would be great if there was an option on the CLI to specify that any `time.Time` instances should be `string` instead.

To do this myself, I've had to do a bit of `sed` magic i

[2021-04-25 05:18] robatipoor commented on #175
thanks

[2021-04-25 05:18] #175 closed

[2021-05-16 14:51] fi0 opened #206 "Missing namespace"
in the wsdl, there's `<import namespace="exampleNamespace"/>`

current generated go code
[code]

expected generated go code
[code]

[2021-05-27 20:48] #186 closed

[2021-05-29 10:14] moihn commented on #108
Hi, any progress for this new release tag? the current v 0.4.0 is quite old and a default "go get github.com/hooklift/gowsdl" will not give us the new features. Otherwise, we need to always use "go get github.com/hooklift/gowsd/...@master".

[2021-05-31 13:59] c4milo commented on #108
@moihn, sorry for the delay, I just pushed v0.5.0. Thanks!

[2021-05-31 13:59] #108 closed

[2021-06-10 12:22] radykal-com opened #207 "New XSD date & time types cannot marshal & unmarshal as attributes"
The new types `XSDDate`, `XSDDateTime` and `XSDTime` don't implement `MarshalerAttr` and `UnmarshalerAttr` interfaces so throwing an unsupported type error.

[2021-06-12 11:29] jerome-laforge opened #209 "Unmarshal returns an error with v0.5.0"
With v0.5.0, xml.Unmarshal returns an errors:

[code]

xml.Unmarshal() returns `expected element type <soap:Envelope> but have <Envelope>` with Go 1.16

[2021-06-14 15:19] #207 closed

[2021-07-03 19:30] carlpett opened #210 "Automatic address discovery?"
The WSDLs I use have a `service->port->address` section which specifies the address to call. It appears that there's some ground work in place, with the `findServiceAddress` template function, but it is currently not used.
Is this something that is planned?

The easiest way would probably be to just add it as an public package level field, so I could `soap.NewClient(myservice.Address)`, but perhap

[2021-07-08 19:22] ashrumoh opened #211 "HTTP 415 RESPONSE"
Hello All,

I am new to  GoWSDL.
I am using GoWSDL to generate SOAP client from WSDL. Go Code got generated successfully from WSDL without any issues. However when I tried to call one the SOAP method I do receive HTTP status 415. Here's the step I followed.

    gowsdl myservice.wsdl // to generate code

    In main.go I added following steps;

 client := soap.NewClient(
                "http://<I

[2021-08-14 14:40] bolatik opened #213 "How to remove tag Headers in <soap:Header>"
`<soap:Envelope>
<soap:Header>
<Headers><userId>1111111111</userId></Headers>
</soap:Header>
<soap:Body><test></test></soap:Body>
</soap:Envelope>`

Hello!
how to remove the <Headers> tag from <soap:Header>?
I want to make such a request
`<soap:Envelope>
<soap:Header>
<userId>1111111111</userId>
</soap:Header>
<soap:Body><test></test></soap:Body>
</soap:Envelope>`

[2021-09-16 22:49] ieure opened #219 "encoding/xml error when field metadata doesn't match XMLName"
I'm not sure what to do about this situation, so just opening up an issue in case someone has a good idea.

I generated client code from [this WSDL](https://community.workday.com/sites/default/files/file-hosting/productionapi/Payroll/v37.0/Payroll.wsdl), using a patched gowsdl 9e1cc9a7689230f4da66504844af631a0c4767cc with #214 and #218 applied.  The generated code returns an error when unmarshalin

[2021-09-21 09:20] mahe54 commented on #213
You can try using version 0.4.0. I have the same problem that the implementation has changed regarding headers from v0.4.0 -> v0.5.0. For me it works in v0.4.0 :)

[2021-09-29 15:28] w65536 opened #221 "Referenced elements of type "xs:dateTime" et al. cannot be marshaled"
This problem affects elements of types `xs:dateTime`, `xs:time` and `xs:date` when they are being referenced. This generates a new type definition like so:
[code]
The new type `MyDateTime` cannot be marshaled/unmarshaled because it does not satisfy the `xml.Marshaler` and `xml.Unmarshaler` interfaces. Only the underlying types `soap.XSDDateTime`, `soap.XSDDate` and `soap.XSDTime` do satisfy those

[2021-10-04 08:14] w65536 opened #223 "Namespace support: naming collisions / redeclared types in different namespaces"
This issue refers to one particular problem with namespaces, but I assume it should be looked at in a broader context of namespaces in general.

I start with describing the particular problem of name collisions and will address the more general topic at the end.

### Scenario

This is a real scenario. Let's assume we have a service svcX with two additional services, svc1 and svc2, each in a separa

[2021-10-05 07:15] w65536 commented on #223
_Originally posted by @ieure in https://github.com/hooklift/gowsdl/issues/218#issuecomment-933800124_

I agree that this would be the correct approach if it can be made to work properly. There are three reasons why I didn't try this yet:
1. The vast majority of type names do not collide. At least for those that don't, it is more cumbersome to have them in separate packages.
2. I know for instance

[2021-10-15 13:16] w65536 opened #224 "XML name field tag conflicts with struct's XMLName field"
If multiple elements with different names are of the same complexType, their XML name tag conflicts with the XMLName field of the struct defined for that complexType:

Example for `<xs:complexType name="typeUnderTest">`:
[code]
generates this Go code (header info omitted):
[code]

Now `anotherTopLevelElement`, `elmComplexContent` and `elmComplexType` all conflict with `topLevelElement` which was s

[2021-10-28 14:51] KrullBorg opened #228 "dump request"
how can i dump a request? to see xml

thanks in advance

[2021-12-01 15:28] giovanni-orciuolo opened #229 "Error when parsing response: Expected param start-info="application/soap+xml", got text/xml"
The SOAP service I'm communicating with responds in MTOM mode. Sample response:

[code]

I get this error when I try to parse this response through the soap library:
`Expected param start-info="application/soap+xml", got text/xml`

Any help? I can't tweak the response I get from this bs service

[2021-12-02 09:48] giovanni-orciuolo commented on #229
I just opened a PR to solve this issue: #230

[2021-12-02 11:26] #204 closed

[2021-12-03 10:06] #221 closed

[2021-12-03 14:07] #224 closed, assigned to nobody

[2021-12-03 16:08] w65536 opened #232 "Incorrect namespace handling"
I am afraid the change introduced with #218 breaks a few things. I have not had the time to properly analyze this. But this is what I see so far.

Before, this is what my request and response looked like:
[code]
[code]

Now this is what the request looks like:
[code]
Trying to marshal the response for printing panics. I speculate this is because the service does not respond in the format that is n

[2021-12-07 21:05] ieure commented on #232
Hi @w65536.  Do you have a capture of the raw response the server sends back, and the service's WSDL?

If the service you're taking to expects an un-namespaced `id` attribute, #218 will definitely cause problems. This is uncommon, in my experience, but certainly not impossible.

Unfortunately, Go's XML support is so broken that I don't know if the right thing can be done in both cases.

[2021-12-09 10:14] w65536 commented on #232
So I was able to capture the raw SOAP request/response before and after the change. It is all simplified and sanitized to just expose the problem.

Before #218:
[code]
After #218:
[code]
This is the diff of above traces:
[code]
You can see that the server no longer responds with the `id` attribute in the response, presumably because it did not understand the attribute in the request.

After seeing

[2021-12-09 20:39] ieure commented on #232
Thanks for the response.  The issue here is this part of the XSD:

[code]

Which indicates that attributes shouldn't be qualified with the `targetNamespace` prefix.  The previous version of gowsdl *only* sent unqualified attributes (which broke my usecase), and the current one *only* sends qualified ones (which broke yours).

Since these are defaults, I assume they can also change per `xsd:attrubu

[2021-12-10 08:48] w65536 commented on #232
Thanks for your insights. I get what you are saying and it is helpful indeed. I guess I might be able to fix this, but I also need to check my time management. I will try to look into it, if I can find some time.

Do you have any insights whatsoever on problem 2: `xml.MarshalIndent` panics when the `id` attribute is not present in the response. It may not be present due to problem 1 or because it

[2021-12-10 23:11] ieure commented on #232
I'm not sure.  The stacktrace you shared is entirely inside of `encoding/xml`, which suggests to me that it's a bug in Go itself.  You might try filing a bug with them and seeing what they have to say.

[2022-01-17 08:30] snowlyg commented on #94
same here, does anyone have a fix?

[2022-03-15 21:43] bensijons opened #236 "Empty strings in enums results in broken code"
If a WSDL file has an enumeration with an empty string value, gowsdl will currently generate broken go code.

For example:

[code]

This XML will generate the following go code:
<img width="546" alt="Screenshot 2022-03-15 at 21 33 26" src="https://user-images.githubusercontent.com/35707048/158477080-66412474-e71a-4c13-914e-6cc081ecfbc3.png">

Since the enum value is being used as part of the name

[2022-03-15 22:43] #236 closed

[2022-03-15 22:44] c4milo commented on #236
Good catch @bensijons! Thanks!

[2022-05-25 15:43] go-aegian commented on #170
after you download types.xsd add these 2 types and then generate again
<xs:schema ...... />

    <xs:complexType name="nonNegativeInteger">
        <xs:simpleContent>
            <xs:extension base="xs:nonNegativeInteger">
                <xs:anyAttribute namespace="http://schemas.xmlsoap.org/soap/envelope/" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:c

[2022-05-26 09:07] go-aegian opened #239 "nodes with multiple namespace are not resolved by the generated code"
This type of messages where 2 namespaces are in the node fails to be decoded by xml, do you have any solution on how to handle this?

<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soap="https://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <soap:Header>
      <t:ServerVersionInfo MajorVersion

[2022-05-26 09:44] go-aegian opened #240 "Some complex types are missing the namespace"
This applies to cases where its expected to have nodes prefixed with the alias namespace or fully defined the namespace that it belongs to.

Any idea how to resolve this maybe in types_tmpl.go ?

This complex type does have the namespace when generated

<xs:complexType name="BaseItemIdType" abstract="true">
        <xs:annotation>
            <xs:documentation>Abstract base type for item identifie

[2022-06-13 08:26] zhorzh-p opened #241 "Separation of generated code into packages"
Hello!
Does the project need the ability to package generated source code to prevent namespace conflicts?
And each such package will have its own imports and dependencies among themselves, if necessary

I have already started doing this for my needs. If necessary, I can then make a pull request.

[2022-07-22 13:43] JonLally commented on #213
From the encoding/xml documentation https://pkg.go.dev/encoding/xml#Marshal

Using an anonymous struct field and having a tag `xml:",chardata"` like below should marshal into the desired XML
[code]
Hope this helps :-)

[2022-08-26 20:02] leogsouza commented on #241
Hello @zhorzh-p, can you share your implementation? I am having problem when generating my code and two different xsd files have same element name

[2022-08-27 10:13] zhorzh-p commented on #241
Hi @leogsouza, I added my implementation, it's here https://github.com/hunband/gowsdl/tree/pkgseparation

I added a new flag 'multi' that separates the generated code into packages.

The program will require you to specify the names of all packages:
![Screenshot_1](https://user-images.githubusercontent.com/70656899/187025221-b458c2ff-7c40-42ca-b477-5950e176b0c4.jpg)

It will then split the code in

[2022-10-03 01:47] prologic opened #242 "1511:11: expected type, found '-' (and 3 more errors)"
Trying to parse and generate Go code for a WSDL found here:

- https://information.qld.gov.au/service/Addressing/ValidationService/PLSplusPublic/soap?wsdl

Results in the following error(s) (_which I don't actually understand..._):

[code]

- Is `1511` the line number? There aren't this many lines in the XML.
- What is `:11`?

Is this a bug?

[2022-10-03 01:53] prologic commented on #242
I _think_ my problem is #152 hmmm 🤔

[2022-10-03 02:00] prologic commented on #152
@unkeep Your patch no longer applies to the master branch I'm afraid. But I still run into this specific error myself, trying to understand where its coming from and how to handle it...

[2022-10-03 02:56] prologic commented on #242
FWW I achieved much better results by using the `wsdlgen` cli utility found in this package:

- https://github.com/droyo/go-xml

[2022-10-16 02:55] Mantany opened #243 "Namespace problem"
During testing, I found the following error:

1. use the following [WSDL](https://www.servercontrolpanel.de/WSEndUser?wsdl)
2. generate the go-code

Results in the following generated Request (getVServers)
[code]

But it should be generated into something like this to work:
[code]

Can I configure the SOAP Client to use the right namespaces (soapenv and end)?